<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tcd.training.com.trainingproject">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.location.network" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.sensor.proximity" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <uses-feature android:name="android.hardware.sensor.light" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" />

    <application
        android:name=".CommunicationBetweenActivities.UsingApplicationObject.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntentFlags.IntentFlagsActivity" />
        <activity android:name=".IntentFlags.IntentFlagsSecondActivity" />
        <activity android:name=".IntentFlags.IntentFlagsThirdActivity" />
        <activity android:name=".ExternalInternalIntent.ExternalInternalIntentActivity" />
        <activity android:name=".CustomView.CreateCustomViewActivity" />
        <activity android:name=".PersistentStorage.PersistentStorageActivity" />
        <activity android:name=".PersistentStorage.AddNoteActivity" />
        <activity android:name=".PersistentStorage.DisplayNoteDetailsActivity" />
        <activity android:name=".Fragments.FragmentTopicActivity" />
        <activity android:name=".Fragments.TabLayout.TabLayoutWithFragmentsActivity" />
        <activity android:name=".Fragments.PagerTabStrip.PagerTabStripWithFragmentsActivity" />
        <activity android:name=".Fragments.FlexibleUIWithFragments.FlexibleUIWithFragmentsActivity" />
        <activity android:name=".Fragments.FlexibleUIWithFragments.DetailsActivity" />
        <activity android:name=".CommunicationBetweenActivities.CommunicationBetweenActivitiesActivity" />
        <activity android:name=".CommunicationBetweenActivities.UsingBundle.ReceiveDataWithBundleActivity" />
        <activity android:name=".CommunicationBetweenActivities.UsingSerializeInterface.ReceiveObjectWithSerializableInterfaceActivity" />
        <activity android:name=".CommunicationBetweenActivities.UsingGson.ReceiveGsonObjectActivity" />
        <activity android:name=".CommunicationBetweenActivities.UsingParcelableInterface.ReceiveObjectWithParcelableInterface" />
        <activity android:name=".CommunicationBetweenActivities.UsingIntentOnly.ReceiveIntentDataActivity" />
        <activity android:name=".CommunicationBetweenActivities.UsingApplicationObject.ReceiveDataWithApplicationObject" />
        <activity android:name=".ServicesAndThreads.ServiceTopicActivity" />
        <activity android:name=".ServicesAndThreads.IntentService.IntentServiceActivity" />

        <service
            android:name=".ServicesAndThreads.IntentService.ResultReceiver.IntentServiceWithResultReceiver"
            android:exported="false" />
        <service
            android:name=".ServicesAndThreads.IntentService.LocalBroadcastReceiver.IntentServiceWithBroadcastReceiver"
            android:exported="false" />
        <service
            android:name=".ServicesAndThreads.IntentService.EventBus.IntentServiceWithEventBus"
            android:exported="false" />
        <service
            android:name=".ServicesAndThreads.IntentService.RxAndroid.IntentServiceWithRxAndroid"
            android:exported="false" />
        <service
            android:name=".ServicesAndThreads.CustomService.MyCustomService"
            android:exported="false" />

        <receiver
            android:name=".ServicesAndThreads.CustomService.MyAlarmReceiver"
            android:process=":remote" />

        <activity android:name=".ServicesAndThreads.CustomService.CustomServiceActivity" />
        <activity android:name=".ServicesAndThreads.BoundService.BindServiceWithBinderClassActivity" />

        <service
            android:name=".ServicesAndThreads.BoundService.ExtendingBinderClassService"
            android:exported="false" />

        <activity android:name=".ServicesAndThreads.BoundService.BindServiceWithMessengerActivity" />

        <service
            android:name=".ServicesAndThreads.BoundService.UsingMessengerService"
            android:exported="false"
            android:process=":remote" />

        <activity android:name=".ServicesAndThreads.ThreadPoolExecutor.ThreadPoolExecutorUsingRunnableActivity" />
        <activity android:name=".ServicesAndThreads.AsyncTask.AsyncTaskActivity" />
        <activity android:name=".ServicesAndThreads.HandlerThread.HandlerThreadActivity" />
        <activity android:name=".ServicesAndThreads.ThreadPoolExecutor.ThreadPoolExecutorUsingCallableActivity" />
        <activity android:name=".ImageProcessing.ScaleTypeActivity" />
        <activity android:name=".ImageProcessing.ImageProcessingActivity" />
        <activity android:name=".ImageProcessing.LoadImages.LoadImageFromSdCardActivity" />
        <activity android:name=".ImageProcessing.LoadImages.LoadImageFromUrlActivity" />
        <activity android:name=".ImageProcessing.CacheImages.CacheImageUsingMemoryActivity" />
        <activity android:name=".ImageProcessing.CacheImages.CacheImageUsingDiskActivity" />
        <activity android:name=".ImageProcessing.CacheImages.CacheImageUsingExternalLibraryActivity" />
        <activity android:name=".ExternalHardware.ExternalHardwareTopicActivity" />
        <activity android:name=".ExternalHardware.AudioPlayer.AudioPlayerActivity" />
        <activity android:name=".ExternalHardware.VideoPlayer.VideoPlayerUsingMediaPlayerActivity" />
        <activity android:name=".ExternalHardware.VideoPlayer.VideoPlayerUsingExoPlayerActivity" />
        <activity android:name=".ExternalHardware.Gallery.ChooseImageFromGalleryActivity" />
        <activity android:name=".ExternalHardware.Gallery.CustomGalleryActivity" />
        <activity android:name=".ExternalHardware.GPS.ObtainLocationUsingLocationManagerActivity" />
        <activity android:name=".ExternalHardware.GPS.ObtainLocationUsingGooglePlayServicesActivity" />
        <activity android:name=".ExternalHardware.Camera.TakePhotoTopicActivity" />
        <activity android:name="com.desmond.squarecamera.CameraActivity" />
        <activity
            android:name=".ExternalHardware.Camera.CameraAPI.TakePhotoUsingCameraApiActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".ExternalHardware.Camera.TakePhotoUsingCamera2ApiActivity" />
        <activity android:name=".Sensors.SensorTopicActivity" />
        <activity android:name=".Sensors.ProximityLightAccelerometerActivity" />
        <activity
            android:name=".Sensors.CompassWithMagneticFieldSensorActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Sensors.GyroscopeActivity" />
        <activity android:name=".Sensors.RotationVectorSensor" />
        <activity android:name=".Sensors.PedometerActivity" />
        <activity android:name=".Networking.NetworkingActivity" />
    </application>

</manifest>