<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tcd.training.com.trainingproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CommunicationBetweenActivities.UsingApplicationObject.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".DifferentFlagsTopic.DifferentFlagsTopicActivity1" />
        <activity android:name=".DifferentFlagsTopic.DifferentFlagsTopicActivity2" />
        <activity android:name=".DifferentFlagsTopic.DifferentFlagsTopicActivity3" />
        <activity android:name=".ExternalInternalIntentActivity" />
        <activity android:name=".CustomView.CreateCustomViewActivity" />
        <activity android:name=".PersistentStorage.PersistentStorageActivity" />
        <activity android:name=".PersistentStorage.AddNoteActivity" />
        <activity android:name=".PersistentStorage.DisplayNoteDetailsActivity" />
        <activity android:name=".FragmentsDemo.FragmentsDemoActivity" />
        <activity android:name=".FragmentsDemo.TabLayoutDemo.TabLayoutWithFragmentsActivity" />
        <activity android:name=".FragmentsDemo.PagerTabStripDemo.PagerTabStripWithFragmentsActivity" />
        <activity android:name=".FragmentsDemo.FlexibleUIWithFragments.FlexibleUIWithFragmentsActivity" />
        <activity android:name=".FragmentsDemo.FlexibleUIWithFragments.DetailsActivity" />
        <activity android:name=".CommunicationBetweenActivities.CommunicationBetweenActivitiesActivity" />
        <activity android:name=".CommunicationBetweenActivities.UsingBundle.ReceiveDataWithBundleActivity" />
        <activity android:name=".CommunicationBetweenActivities.UsingSerializeInterface.ReceiveObjectWithSerializableInterfaceActivity" />
        <activity android:name=".CommunicationBetweenActivities.UsingGson.ReceiveGsonObjectActivity" />
        <activity android:name=".CommunicationBetweenActivities.UsingParcelableInterface.ReceiveObjectWithParcelableInterface" />
        <activity android:name=".CommunicationBetweenActivities.UsingOnlyIntent.ReceiveIntentDataActivity" />
        <activity android:name=".CommunicationBetweenActivities.UsingApplicationObject.ReceiveDataWithApplicationObject" />
        <activity android:name=".ServicesDemo.ServicesDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ServicesDemo.IntentService.IntentServiceDemoActivity" />

        <service
            android:name=".ServicesDemo.IntentService.ResultReceiver.IntentServiceWithResultReceiver"
            android:exported="false" />
        <service
            android:name=".ServicesDemo.IntentService.LocalBroadcastReceiver.IntentServiceWithBroadcastReceiver"
            android:exported="false" />
        <service
            android:name=".ServicesDemo.IntentService.EventBus.IntentServiceWithEventBus"
            android:exported="false" />
        <service
            android:name=".ServicesDemo.IntentService.RxJava.IntentServiceWithRxJava"
            android:exported="false" />
        <service
            android:name=".ServicesDemo.CustomService.MyCustomService"
            android:exported="false" />

        <receiver
            android:name=".ServicesDemo.CustomService.MyAlarmReceiver"
            android:process=":remote" />

        <activity android:name=".ServicesDemo.CustomService.CustomServiceDemoActivity" />
        <activity android:name=".ServicesDemo.BoundService.BindServiceWithBinderClassDemoActivity" />

        <service
            android:name=".ServicesDemo.BoundService.ExtendedBinderClassService"
            android:exported="false" />

        <activity android:name=".ServicesDemo.BoundService.BindServiceWithMessengerDemoActivity" />

        <service
            android:name=".ServicesDemo.BoundService.UsingMessengerService"
            android:exported="false" />

        <activity android:name=".ServicesDemo.ThreadPoolExecutorDemo.ThreadPoolExecutorDemoActivity" />
        <activity android:name=".ServicesDemo.AsyncTaskDemo.AsyncTaskDemoActivity" />
        <activity android:name=".ServicesDemo.HandlerThreadDemo.HandlerThreadDemoActivity"></activity>
    </application>

</manifest>